<nav>

  <ul>
    <li class="deroulant">
      <a routerLink="/welcome-page" routerLinkActive="active" >Home</a>
      </li>
    
    <li class="deroulant">
      <a routerLink="/productslist" routerLinkActive="active" >Products list</a>
    </li>
    <li class="deroulant">
      <a routerLink="/orderslist" routerLinkActive="active">orders list</a>
    </li>
    <li class="deroulant">
      <a routerLink="/userslist" routerLinkActive="active">users list</a>
    </li>
    <li>
      <a routerLink="/contactform" routerLinkActive="active">contact form</a>
    </li>
  </ul>
</nav>

  <router-outlet></router-outlet>
  